# No build-system here, used for tool configuration only
[tool.mypy]
python_version = "3.13"
files = ["*.py"]
warn_unused_configs = true

strict = true
disallow_untyped_defs = true

enable_error_code = ["ignore-without-code", "redundant-expr", "truthy-bool"]
warn_unreachable = true

[tool.ruff]
target-version = "py313"
line-length = 100

[tool.ruff.lint]
extend-select = [
  "A",           # flake8-builtins
  "B",           # flake8-bugbear
  "I",           # isort
  "ARG",         # flake8-unused-arguments
  "C4",          # flake8-comprehensions
  "EM",          # flake8-errmsg
  "ICN",         # flake8-import-conventions
  "ISC",         # flake8-implicit-str-concat
  "G",           # flake8-logging-format
  "PGH",         # pygrep-hooks
  "PIE",         # flake8-pie
  "PL",          # pylint
  "PTH",         # flake8-use-pathlib
  "RET",         # flake8-return
  "RUF",         # Ruff-specific
  "SIM",         # flake8-simplify
  "TID251",      # flake8-tidy-imports.banned-api
  "UP",          # pyupgrade
  "YTT",         # flake8-2020
  "EXE",         # flake8-executable
  "PYI",         # flake8-pyi
  "PERF101", "PERF102", "PERF401", "PERF402", "PERF403",  # A selection of perflint codes
  "DTZ",         # flake8-datetimez
  "FA",          # flake8-future-annotations
  "FLY",         # flynt
  "FURB",        # refurb
  "LOG",         # flake8-logging
  "Q",           # flake8-quotes
  "SLOT",        # flake8-slots
  "T10",         # flake8-debugger
  "TC",          # flake8-type-checking
  "ANN",         # flake8-annotations
  "NPY",         # NumPy-specific rules
  # "PD",          # pandas-vet
  "N",          # pep8-naming
]
ignore = [
  "PLR",     # Design related pylint codes
  "ANN401",  # any-type
]
flake8-unused-arguments.ignore-variadic-names = true
