appdirs==1.4.4
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.4
cfgv==3.2.0
chardet==4.0.0
distlib==0.3.1
filelock==3.0.12
google-api-core==1.25.1
google-auth==1.24.0
google-cloud-bigquery==2.7.0
google-cloud-core==1.5.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
grpcio==1.35.0
identify==1.5.13
idna==2.10
nodeenv==1.5.0
numpy==1.19.5
packaging==20.8
pandas==1.2.1
pre-commit==2.10.0
proto-plus==1.13.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.4.1
requests==2.25.1
rsa==4.7
six==1.15.0
toml==0.10.2
urllib3==1.26.3
virtualenv==20.4.0
